body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
.ThemeableMenu1 .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.show 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret, .ThemeableMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 17px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>li>a.active,
.ThemeableMenu1 .dropdown-menu>li>a.active:hover,
.ThemeableMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.ThemeableMenu1 .show>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .show>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.ThemeableMenu1 .nav .show>a,
.ThemeableMenu1 .nav .show>a:hover,
.ThemeableMenu1 .nav .show>a:focus 
{
    border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu1 .navbar-nav>li>a
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>li>a.active,
.ThemeableMenu1 .navbar-nav>li>a.active:hover,
.ThemeableMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar
{
   background-color: #999C9F;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.show>a,
.ThemeableMenu1 .navbar-nav>.show>a:hover,
.ThemeableMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.show>a .caret,
.ThemeableMenu1 .navbar-nav>.show>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #999C9F;
}
@media (min-width: 768px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header
{
   float: left;
}
.ThemeableMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.ThemeableMenu1 
{
   background-color: #343A40;
   background-image: none;
   border: 1px solid #343A40;
}
.ThemeableMenu1 .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.ThemeableMenu1 
{
   background-color: #343A40;
   background-image: none;
   border: 1px solid #343A40;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>li>a.active,
.ThemeableMenu1 .navbar-nav>li>a.active:hover,
.ThemeableMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.show>a,
.ThemeableMenu1 .navbar-nav>.show>a:hover,
.ThemeableMenu1 .navbar-nav>.show>a:focus
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #999C9F;
   border-bottom-color: #999C9F;
}
.ThemeableMenu1 .navbar-nav > li > a.active > .caret,
.ThemeableMenu1 .navbar-nav > li > a.active:hover > .caret,
.ThemeableMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.show>a .caret,
.ThemeableMenu1 .navbar-nav>.show>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1-logo
{
   float: left;
}
#ThemeableMenu1-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_ThemeableMenu1
{
   z-index: 1111 !important;
}
#wb_home
{
   background-color: transparent;
   background-image: url('../images/1.jpg');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#home
{
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 50px 10px 50px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 64px;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
}
#wb_about
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F5F5F5;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#about
{
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 50px 10px 50px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0 0 25px 0;
   text-align: center;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
}
#Heading5
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 17px;
   line-height: 19px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_services
{
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#services
{
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 50px 10px 50px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0 0 25px 0;
   text-align: center;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_BulletedList1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList1 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 23px;
}
#wb_BulletedList1 .item
{
   margin-left: 25px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#wb_BulletedList1 p, #wb_BulletedList1 ul
{
   margin: 0;
   padding: 0;
}
#wb_BulletedList1 .item0
{
   text-align: left;
}
#wb_BulletedList1 .item1
{
   text-align: left;
}
#wb_BulletedList1 .item2
{
   text-align: left;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6
{
   color: #FFFFFF;
   font-family: Calibri;
   font-weight: normal;
   font-size: 20px;
   line-height: 25px;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Card6
{
   display: flex;
   z-index: 1;
}
#wb_Heading5
{
   display: inline-block;
   z-index: 2;
}
#wb_Heading2
{
   display: inline-block;
   z-index: 4;
}
#wb_BulletedList1
{
   display: inline-block;
   z-index: 5;
}
#wb_ThemeableMenu1
{
   display: inline-block;
   width: 100%;
   z-index: 0;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 20px 15px 20px 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_ThemeableMenu1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 .dropdown-menu
{
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 50px 15px 50px 15px;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 18px;
}
}
