div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
.ThemeableMenu1 .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.show 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret, .ThemeableMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 17px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>li>a.active,
.ThemeableMenu1 .dropdown-menu>li>a.active:hover,
.ThemeableMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.ThemeableMenu1 .show>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .show>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.ThemeableMenu1 .nav .show>a,
.ThemeableMenu1 .nav .show>a:hover,
.ThemeableMenu1 .nav .show>a:focus 
{
    border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu1 .navbar-nav>li>a
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>li>a.active,
.ThemeableMenu1 .navbar-nav>li>a.active:hover,
.ThemeableMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar
{
   background-color: #999C9F;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.show>a,
.ThemeableMenu1 .navbar-nav>.show>a:hover,
.ThemeableMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.show>a .caret,
.ThemeableMenu1 .navbar-nav>.show>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #999C9F;
}
@media (min-width: 768px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header
{
   float: left;
}
.ThemeableMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.ThemeableMenu1 
{
   background-color: #343A40;
   background-image: none;
   border: 1px solid #343A40;
}
.ThemeableMenu1 .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.ThemeableMenu1 
{
   background-color: #343A40;
   background-image: none;
   border: 1px solid #343A40;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>li>a.active,
.ThemeableMenu1 .navbar-nav>li>a.active:hover,
.ThemeableMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.show>a,
.ThemeableMenu1 .navbar-nav>.show>a:hover,
.ThemeableMenu1 .navbar-nav>.show>a:focus
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #999C9F;
   border-bottom-color: #999C9F;
}
.ThemeableMenu1 .navbar-nav > li > a.active > .caret,
.ThemeableMenu1 .navbar-nav > li > a.active:hover > .caret,
.ThemeableMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.show>a .caret,
.ThemeableMenu1 .navbar-nav>.show>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1-logo
{
   float: left;
}
#ThemeableMenu1-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_ThemeableMenu1
{
   z-index: 1111 !important;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: left;
}
#Heading3
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: left;
}
#Heading4
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #4F4F4F;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 17px;
   line-height: 13px;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/8.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#LayoutGrid3-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.67;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading5
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 25px 0 0 0;
   text-align: center;
}
#Heading6
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 5;
}
#wb_Heading6
{
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_Heading4
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_Heading5
{
   display: inline-block;
   width: 100%;
   z-index: 6;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#wb_ThemeableMenu1
{
   display: inline-block;
   width: 100%;
   z-index: 0;
}
#wb_MediaPlayer1
{
   display: inline-block;
   width: 455px;
   height: 142px;
   z-index: 4;
}
@media only screen and (max-width: 969px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 20px 15px 20px 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_ThemeableMenu1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 .dropdown-menu
{
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 20px 0;
}
#wb_Heading4
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: 400;
   font-size: 15px;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: left;
   line-height: 13px;
}
}
